<!DOCTYPE html>
<html>
<head>
    <title>Computer Vision Mood Songs</title>
    <style>
        * {
            font-size: 30px
        }
    </style>
</head>

<body>
    <p>In the first box, please type your username. This can be found by going into your Spotify App, going to the top-right corner, clicking the drop-down menu, and selecting 'account'</p>
    <form action="/" method="POST">
        Username name:<br>
        <input type="text" name="username"><br>
        <input type="submit" value="Submit">
    </form>

</body>





</html>